body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

#whole-wrapper {

    width: 640px;
    height: 480px;

    border-radius: 5px;
    border: 1px solid black;

    font-size: .75em;

    position: relative;

    background-color: black;
    background-size: cover;

}

#character-wrapper > img {
    max-height: 480px;
    position: absolute;
    bottom: 0;
}

#chat-wrapper {
    position: absolute;
    color: white;
    width: 100%;
    bottom: 0;

    display: grid;
    grid-template-rows: 20px 100px 15px;
    grid-template-areas:
            "name . . . "
            "text text text text"
            "setting setting setting setting";
}

#chat-wrapper > * {
    background-color: rgba(0, 0, 0, .75);
    backdrop-filter: blur(3px);
}

#name {
    grid-area: name;
    border-top-right-radius: 5px;
    padding-top: .3em;
    display: grid;
    place-items: center;
}

#text-wrapper {
    grid-area: text;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
}

#text {
    width: 100%;
}

#next {
    grid-area: next;
    display: grid;
    place-items: center;
    font-size: 2em;
}

#setting {
    grid-area: setting;
    box-sizing: border-box;
    padding-right: .5em;
    padding-bottom: .1em;
    display: flex;
    justify-content: flex-end;
}

#setting span {
    cursor: pointer;
}

#setting span:hover {
    text-shadow: 0 0 4px white;
    color: black;
}

#setting span + span {
    margin-left: 1em;
}

#selector-wrapper {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: none;
    place-items: center;
}

#selector {
    display: flex;
    flex-flow: column;
}

#selector li {
    width: 350px;
    height: 30px;
    background: rgba(0, 0, 0, 0.50);
    box-shadow: 0 8px 32px 0 rgba(212, 212, 222, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: grid;
    place-items: center;
    color: white;
}

#selector li:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 40px 0 rgba(230, 230, 230, 0.5);
}

#selector li + li {
    margin-top: 1em;
}