body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.cp {
    position: fixed;
    left: calc(50% - 320px);
    top: calc(50% + 240px);
}

#whole-wrapper {

    width: 640px;
    height: 480px;

    border-radius: 5px;
    border: 1px solid black;

    font-size: .75em;

    position: relative;

    background-color: black;
    background-size: cover;

    overflow: hidden;

}

#character-wrapper > img {
    max-height: 480px;
    position: absolute;
}

.left {
    left: 0;
    bottom: 0;
    transform: translate(0%, 0%);
}

.right {
    right: 0;
    bottom: 0;
    transform: translate(0%, 0%);
}

.middle {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}

.center {
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

#chat-wrapper {
    position: absolute;
    color: white;
    width: 100%;
    bottom: 0;

    display: grid;
    grid-template-rows: 20px 100px 15px;
    grid-template-areas:
            "name . . . "
            "text text text text"
            "setting setting setting setting";
}

#chat-wrapper > * {
    background-color: rgba(0, 0, 0, .75);
    backdrop-filter: blur(3px);
}

#name {
    grid-area: name;
    border-top-right-radius: 5px;
    padding-top: .3em;
    display: grid;
    place-items: center;
}

#text-wrapper {
    grid-area: text;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
}

#text {
    width: 100%;
}

#next {
    grid-area: next;
    display: grid;
    place-items: center;
    font-size: 2em;
}

#setting {
    grid-area: setting;
    box-sizing: border-box;
    padding-right: .5em;
    padding-bottom: .1em;
    display: flex;
    justify-content: flex-end;
}

#setting span {
    cursor: pointer;
}

#setting span:hover {
    text-shadow: 0 0 4px white;
    color: black;
}

#setting span + span {
    margin-left: 1em;
}

#selector-wrapper {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: none;
    place-items: center;
}

#selector {
    display: flex;
    flex-flow: column;
}

#selector li {
    width: 350px;
    height: 30px;
    background: rgba(0, 0, 0, 0.50);
    box-shadow: 0 8px 32px 0 rgba(212, 212, 222, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: grid;
    place-items: center;
    color: white;
}

#selector li:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 40px 0 rgba(230, 230, 230, 0.5);
}

#selector li + li {
    margin-top: 1em;
}

.back {
    color: white;
    position: absolute;
    font-size: 2em;
    top: .5rem;
    right: 1rem;
    cursor: pointer;
}

#save-wrapper {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: none;
}

#save-title {
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
    place-self: center;
}

#slot-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 600px;
    height: 365px;
    overflow-y: scroll;
    margin: auto;
    grid-gap: 1em;
}

#slot-wrapper::-webkit-scrollbar {
    display: none;
}

.slot {
    width: 99%;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 10px;
    height: 170px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: grid;
    place-items: center;
    text-align: center;
    color: white;
}

.slot:hover {
    background: rgba(255, 255, 255, 0.70);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.slot > img {
    width: 100px;
    height: 75px;
    border-radius: 5px;
}

.slot-add {
    border: 2px dashed white;
    opacity: .5;
    height: 170px;
    border-radius: 10px;
    cursor: pointer;
}

.slot-add:hover {
    background-color: rgba(255, 255, 255, .2);
}

.slot-add:after {
    content: "+";
    color: white;
    font-size: 3em;
    display: grid;
    height: 100%;
    place-content: center;
}

#menu-wrapper {
    width: 640px;
    height: 480px;

    border-radius: 5px;
    border: 1px solid black;

    font-size: .75em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: grayscale(1) blur(2px);
    background-size: cover;

    display: none;

}

#menu-list {
    display: flex;
    flex-flow: column;
    margin: auto;
}

#menu-list > li {
    color: white;
    text-align: center;
    width: 100px;
    height: 30px;
    border: 1px solid white;
    display: grid;
    place-content: center;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .2);
    cursor: pointer;
}

#menu-list > li:hover {
    box-shadow: 0 4px 10px 0 rgba(230, 230, 230, 0.5);
    transform: translateY(-3px);
}

#menu-list > li + li {
    margin-top: 1em;
}